<h1>{{ params.title ?? "Default Title"  }}</h1>
<div class="row">
  <div class="col-md-6">
    {% for key, model in availC %}
      {%  for k, card in model %}
      <div class="card shadow mb-2">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">
            {% if card['params']['title'] is defined %} {{ card['params']['title'] }} {% else %} {{ k }}{% endif %}</h6>
        </div>
        <div class="card-body" id="card-{{ key }}-{{ loop.index0 }}">
        </div>
      </div>

        <script>
          params = JSON.parse(
                  Base64.decode('{{ card['params_encoded'] }}')
          );

          _ajax_update(
                  '{{ card['action'] }}',
                  params,
                  'card-{{ key }}-{{ loop.index0 }}'
          );
        </script>
      {% endfor %}
    {% endfor %}

  </div>

  <div class="col-md-6">
    <div class="card shadow mb-2">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Feedback</h6>
      </div>
      <div class="card-body text-justify">
        Need help? Found a bug? Want new features?<br/>
        <br/>
        <a href='javascript:void(0)' onclick='window_render("HelpAndSupport/ContactForm");' class='btn btn-info btn-icon-split'>
          <span class='icon'><i class='fas fa-bolt'></i></span>
          <span class='text'>Ask for help, report a bug or request new feature</span>
        </a>
        </p>
      </div>
    </div>

    <div class="card shadow mb-2">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Did you know?</h6>
      </div>
      <div class="card-body text-justify">
        <a href="https://en.wikipedia.org/wiki/Meerkat" target=_blank>
          <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Meerkat_%28Suricata_suricatta%29_Tswalu.jpg/330px-Meerkat_%28Suricata_suricatta%29_Tswalu.jpg"
                  style="width:6em;float:left;margin:0 1em 1em 0"
          >
        </a>
        The <b>meerkat</b> <i>Suricata suricatta</i> or <b>suricate</b> is a small mongoose found in southern Africa.
        It is characterised by a broad head, large eyes, a pointed snout, long legs, a thin tapering tail, and a brindled coat pattern. The head-and-body length is around 24–35 cm (9.4–13.8 in), and the weight is typically between 0.62 and 0.97 kg (1.4 and 2.1 lb). The coat is light grey to yellowish brown with alternate, poorly defined light and dark bands on the back. Meerkats have foreclaws adapted for digging and have the ability to thermoregulate to survive in their harsh, dry habitat. Three subspecies are recognised.<br/>
        <br/>
        Learn more at <a href="https://en.wikipedia.org/wiki/Meerkat" target=_blank>Wikipedia</a>.
        </p>
      </div>
    </div>

  </div>
</div>
