<style>
  #{{ uid }}_div {
    display: grid;
    grid-template-areas:
      {% for layoutRow in layout %}
        '{{ layoutRow }}'
      {% endfor %}
    ;
    gap: 5px;
    height: 100vh;
    padding: 5px;
  }


  #{{ uid }}_div > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border: 1px solid var(--cl-main);
  }

  {% for areaName, areaParams in areas %}
    .{{ uid }}-area-{{ areaName }} { grid-area: {{ areaName }}; }
  {% endfor %}
</style>

<div id='{{ uid }}_div'>
  {% for areaName, areaParams in areas %}
    <div class='{{ uid }}-area-{{ areaName }}'>
      area: {{ areaName }}
    </div>
  {% endfor %}
</div>
