<h1>{{ params.title ?? "Default Title" }}</h1>

<div class="row">
  <div class="col-md-6">
    <div class="card card-body m-2" id="draggableCards">
      {% for key, model in params.dashboardCards %}
        {% for k, card in model %}
          {% if card.is_active and card.left %}
            <div>
              <div class="card-body h-100 draggable" id="card-{{ key }}-{{ loop.index0 }}">
              </div>

              <script>
                  params = JSON.parse(
                      Base64.decode('{{ card['params_encoded'] }}')
                  );

                  _ajax_update(
                      '{{ card['action'] }}',
                      params,
                      'card-{{ key }}-{{ loop.index0 }}'
                  );
              </script>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-body m-2">
      Empty Dashboard Area 2
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card card-body m-2">
      Empty Dashboard Area 3
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-body m-2">
      Empty Dashboard Area 4
    </div>
  </div>
</div>

<script>
    const draggableContainer = document.getElementById("draggableCards");

    const draggableSortable = new Draggable.Sortable(draggableContainer, {
        draggable: `.draggable`,
        mirror: {
            constrainDimensions: true,
        },
        plugins: [],
    });

    draggableSortable.on('drag:start', () => {
        console.log("started dragging");
    });
</script>

